<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='grid.css') }}" rel="stylesheet">

    <title>{{ values.md5sum }}</title>
	
  </head>

  <body>
    <div class="container">
	<h1 class="display-4 font-weight-normal text-center">{{values.filename}}</h1>
	<p class="lead text-center">Consider this sample of the malware to be malicious.</p>
	<p class="lead text-center"><a href="/uploads/{{values.filename}}.zip" download="{{ values.md5sum}}.zip">Download Sample</a> (Password: <i>infected</i>)</p>
      	<p class="text-center"><a href="/">Home</a> | <a href="/samples">Samples</a></p>

	{% for k,v in values.items() %}
	<div class="row">
		<div class="col-6 top text-center">{{ k }}</div>
		<div class="col-6 content text-left">{{ v }}</div> 
      	</div>
	{% endfor %}

	<p class="text-center"><a href="/">Home</a> | <a href="/samples">Samples</a></p>


    </div> 
  </body>
</html>
