<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='grid.css') }}" rel="stylesheet">

    <title>{{ values.url }}</title>
	
  </head>

  <body>
    <div class="container">
	<h1 class="display-4 font-weight-normal text-center">URL Analysis</h1>

	<div class="row">
		<div class="col-6 text-right top">Input URL:</div>
		<div class="col-6"> {{ values.url }} </div>
	</div>
	<div class="row">
		<div class="col-6 text-right top">UUID of URL:</div>
		<div class="col-6"> {{ values.uuid }} </div>
	</div>
	<div class="row">
		<div class="col-6 text-right top">IP Address:</div>
		<div class="col-6"> {{ values.ipaddress }} </div>
	</div>
	<div class="row">
		<div class="col-6 text-right top">Date of Last Analysis:</div>
		<div class="col-6"> {{ values.date }} </div>
	</div>

	<br />

	<div class="row top">
		<div class="col-2"></div>
		<div class="col-5 text-center">Desktop</div>
		<div class="col-5 text-center">Mobile</div>
	</div>
	<div class="row">
		<div class="col-2 content">Page Title:</div>
		<div class="col-5 content">{{ values.desktop.title }}</div>
		<div class="col-5 content">{{ values.mobile.title }}</div>
	</div>
	<div class="row">
		<div class="col-2 content">Final URL:</div>
		<div class="col-5 content">{{ values.desktop.finalurl }}</div>
		<div class="col-5 content">{{ values.mobile.finalurl }}</div>
	</div>
	<div class="row">
		<div class="col-2 content">User-Agent::</div>
		<div class="col-5 content">{{ values.desktop.useragent }}</div>
		<div class="col-5 content">{{ values.mobile.useragent }}</div>
	</div>
	<div class="row">
		<div class="col-2 content">Screenshot:</div>
		<div class="col-5 content"><img src="{{ url_for('static', filename=values.desktop.screenshot) }}" class="img-fluid img-thumbnail" alt="Desktop Screenshot" /></div>
		<div class="col-5 content"><img src="{{ url_for('static', filename=values.mobile.screenshot) }}" class="img-fluid img-thumbnail" alt="Mobile Screenshot" /></div>
	</div>
	
	<br />

	<div class="row top">
		<div class="col-6 text-center">HTTP Headers</div>
		<div class="col-6 text-center">SSL Certificate Information</div>
	</div>
	<div class="row">
		<div class="col-6 content">
			{% for val in values.http_headers %}
				<b>{{ val }} :</b> {{ values.http_headers[val] }} <br/>
			{% endfor %}
		</div>
		<div class="col-6 content">
		</div>
	</div>

	<br />

	<div class="row top">
		<div class="col-6 text-center">Domain WHOIS</div>
		<div class="col-6 text-center">IP WHOIS</div>
	</div>
	<div class="row">
		<div class="col-6 content"> 
			{% for val in values.domain_whois %}
				<b>{{ val }}</b> : {{ values.domain_whois[val] }} <br />
			{% endfor %}
		</div>
		<div class="col-6 content">
			{% for val in values.ip_whois %}
				<b>{{ val }}</b> : {{ values.ip_whois[val] }} <br />
			{% endfor %}
		</div>
	</div>

	<p class="text-center"><a href="/">Home</a></p>


    </div> 
  </body>
</html>
